@charset "UTF-8";

* {
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

/* ■■■■■■■■■■■■■■■■■■■■ HEADER ■■■■■■■■■■■■■■■■■■■■ */
header {
	width: 1200px;
	margin: 0 auto;
/* 	border: 1px solid red; */
}

header a {
	text-decoration: none;
	color: #000;
}

header .nateMain {
	display: inline-block;
	width: 150px;
}

.nateMain p {
	font-size: 14px;
}

header .topNav {
	float: right;
	
}

.topNav ul li {
	display: inline;
	margin: 0 10px;
	font-size: 14px
}

header .navWrap {
	margin-top: 10px;
	display: flex;
}

a.symbol img {
	width: 200px;
	height: 50px;
}

.navWrap ul {
	width: 900px;
	margin-left: 100px;
	text-align: center;
/* 	border: 1px solid red; */
}

.navWrap ul li {
	display: inline;
	margin: 0 12px;
	font-size: 17px;
}

.navWrap .outLink {
	width: 350px;
	margin-left: 300px;
	text-align: center;
}

.navWrap .outLink p {
	display: inline-block;
	padding: 0 40px;
	border: 1px solid #808080;
	border-radius: 8px;
	color: #808080;
}

/* ■■■■■■■■■■■■■■■■■■■■ SECTION.MAIN1 ■■■■■■■■■■■■■■■■■■■■ */
section.main1 .banner {
/* 	border: 1px solid blue; */
	text-align: center;
	margin-top: 30px;
	background-color: #2b66fe;
	height: 40px;
	line-height: 40px;
	width: 100%;
}

.banner span {
	color: #ffff;
}

.banner strong {
	color: yellow;
}

section.main1 .main {
	background-color: #7f99e3;
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
}
section.main1 .main .title {
	width: 410px;
	height: 490px;
/* 	border: 1px solid red; */
	color: #ffff;
	margin: 100px 30px 0 0;
}
.main .title .main_title {
/* 	border: 1px solid red; */
	width: 410px;
	height: 230px;
	
}

.title .main_title h3 {
	font-size: 55px;
}

.main .title .sub_title {
/* 	border: 2px solid orange; */
	margin-top: 20px;
	font-size: 18px;
}

.main .title .down_link {
/* 	text-align: center; */
	margin-top: 30px;
}

.main .title a img{
	width: 180px;
	height: 57px;
	margin: 5px;	
}

.main .img_box {
	margin-top: 30px;
	width: 640px;
	height: 760px;
	text-align: center;
}

.main .img_box img {
	width: 350px;
	height: 350px;
}
.main .img_game {
	margin-top: 00px;
	width: 800px;
	height: 200px;
	text-align: center;
}
.main .img_game img{
	margin-left: 100px;
	width: 150px;
	height: 150px;
}
.main .img_game div img{
	width: 600px;
	height: 350px;
}

.main .img_sport img {
	margin-top: 50px;
	margin-left: 100px;	
	width: 320px;
	height: 300px;
}


/* ■■■■■■■■■■■■■■■■■■■■ FOOTER ■■■■■■■■■■■■■■■■■■■■ */
footer {
	width: 100%;
	height: 85px;
}

footer .footer_wrap {
	width: 1100px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	line-height: 80px;
	justify-content: space-around;
	font-size: 12px;
}
iframe {
	border-radius: 0.8rem;
}
